{% extends "base.html" %}
 {% block content %}
<style>
  .main-wrapper {
    display: none;
  }

  .table-container {
    max-width: 1000px;
    margin-left: 240px;
    padding: 1rem;
  }

  .action-icon {
    color: #666;
    margin: 0 5px;
    cursor: pointer;
  }

  .action-icon:hover {
    color: #333;
  }

  .new-job-btn {
    margin-top: 1rem;
  }

  td,
  th {
    line-height: 40px;
  }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/registroproducto.css') }}" />
<div class="main-wrapper">
  <!-- sidebar -->
  <div class="sidebar">
    <nav class="nav flex-column">
      <a href="{{url_for('views.dashboard')}}" class="nav-link active">
        <i class="fas fa-th-large"></i> Dashboard
      </a>
      <a href="{{url_for('views.registroproducto')}}" class="nav-link">
        <i class="fas fa-plus"></i> Publicar empleo
      </a>
      <a href="#" class="nav-link">
        <i class="fas fa-briefcase"></i> Empleos
      </a>
      <a href="#" class="nav-link"> <i class="fas fa-comments"></i> Chat </a>
      <a href="#" class="nav-link"> <i class="fas fa-users"></i> Candidatos </a>
      <a href="#" class="nav-link">
        <i class="fas fa-cog"></i> Configuración
      </a>
      <a href="#" class="nav-link mt-auto">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
      </a>
    </nav>
  </div>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 table-container">
    <div class="content-header">
      <h1>Ultimos empleos publicados</h1>
    </div>

    <div class="table-responsive rounded">
      <table class="table table-hover bg-light">
        <thead>
          <tr>
            <th>Título de Puesto</th>
            <th>Nº de Candidatos</th>
            <th>Fecha de Publicación</th>
            <th>Fecha de Finalización</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="jobsTableBody">
          <!-- fill with js -->
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary new-job-btn">
      <i class="fas fa-plus"></i> Nuevo Empleo
    </button>
  </main>
</div>

<!-- add examples with js-->


{% endblock %}