{% extends "dashboard_base.html" %}



{% block page_title %}Crear nuevo empleo{% endblock %}

{% block dashboard_content %}

        <div class="main-content">
            <h3 class="page-title">Publicar empleo</h3>

            <form action="/submit" method="post">
                <input type="hidden" name="empresa_id" value="{{ empresa_id }}">
                <div class="form-group">
                    <label for="nombre_empleo">Nombre del empleo</label>
                    <input type="text" class="form-control" id="nombre_empleo" name="nombre_empleo" required>
                </div>
{#                <div class="form-group">#}
{#                    <label for="tipo_contrato">Tipo de contrato</label>#}
{#                    <input type="text" class="form-control" id="tipo_contrato" name="tipo_contrato" required>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="fecha_publicacion">Fecha de publicación</label>#}
{#                    <input type="date" class="form-control" id="fecha_publicacion" name="fecha_publicacion" required>#}
{#                </div>#}
                <div class="form-group">
                    <label for="fecha_final">Fecha de cierre</label>
                    <input type="date" class="form-control" id="fecha_final" name="fecha_final" required>
                </div>
{#                <div class="form-group">#}
{#                    <label for="modalidad">Modalidad</label>#}
{#                    <input type="text" class="form-control" id="modalidad" name="modalidad" required>#}
{#                </div>#}
                <div class="form-group">
                    <label for="ubicacion">Ubicación</label>
                    <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
                </div>
                <div class="form-group">
                    <label for="salario_min">Salario</label>
                    <input type="number" class="form-control" id="salario_min" name="salario_min" required>
                </div>
{#                <div class="form-group">#}
{#                    <label for="salario_max">Salario máximo</label>#}
{#                    <input type="number" class="form-control" id="salario_max" name="salario_max" required>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="experiencia">Experiencia</label>#}
{#                    <input type="text" class="form-control" id="experiencia" name="experiencia" required>#}
{#                </div>#}
                <div class="form-group">
                    <label for="vacantes">Vacantes</label>
                    <input type="number" class="form-control" id="vacantes" name="vacantes" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
                </div>
{#                <div class="form-group">#}
{#                    <label for="funciones">Funciones</label>#}
{#                    <textarea class="form-control" id="funciones" name="funciones" required></textarea>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="requisitos">Requisitos</label>#}
{#                    <textarea class="form-control" id="requisitos" name="requisitos" required></textarea>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="beneficios">Beneficios</label>#}
{#                    <textarea class="form-control" id="beneficios" name="beneficios" required></textarea>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="nivel_estudios">Nivel de estudios</label>#}
{#                    <input type="text" class="form-control" id="nivel_estudios" name="nivel_estudios" required>#}
{#                </div>#}
                <button type="submit" class="btn btn-primary btn-block">Publicar Empleo</button>
            </form>
        </div>
{% endblock %}
