<!-- index.html -->
{% extends "base.html" %}

{% block content %}

<head>
    <!-- css propios -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>


<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Registro de Empresa</h3>
            </div>
        </div>
    </div>
</div>

<!-- formulario inicio -->

<div class="register-form section">
    <div class="container">
        <form id="register" method="post">
            <label for="nombre-empresa">Nombre de la Empresa:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Empresa XZY" required>

            <label for="razonsocial">Razon Social:</label>
            <input type="text" name="razonsocial" id="razonsocial" placeholder="Razon Social" required>

            <label for="ruc">RUC:</label>
            <input type="text" name="ruc" id="ruc" placeholder="RUC" required>

            <label for="email">Correo Electrónico:</label>
            <input type="email" name="email" id="email" placeholder="Correo Electrónico" required>

            <label for="numero">Numero de Contacto:</label>
            <input type="number" name="email" id="email" placeholder="Numero Contacto" required>

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>

            <button type="submit" id="form-submit" class="main-button">Registrate e inicia sesion</button>
        </form>
    </div>
</div>

<!-- formulario fin -->

<!-- javascript propios -->
<script src="{{ url_for('static', filename='js/register.js') }}"></script>


{% endblock %}