{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
</head>

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Empleos</h3>
      </div>
    </div>
  </div>
</div>

<div class="containerproductos">
  <div class="row" id="productos-container">
    {% for empleo in empleos %}
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ empleo.empleo_datos.nombre_empleo }}</h5>
          <p class="card-text">{{ empleo.empleo_datos.descripcion }}</p>
          <p class="card-price">${{ empleo.empleo_datos.salario_min }} - ${{ empleo.empleo_datos.salario_max }}</p>
          <p class="card-location">{{ empleo.empleo_datos.ubicacion }}</p>
          <p class="card-publication-date">{{ empleo.empleo_datos.fecha_publicacion }}</p>
          <a href="#" class="btn btn-primary">Aplicar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <ul class="pagination">
    <!-- Aquí se agregarán los enlaces de paginación dinámicamente -->
  </ul>
</div>

<script src="{{ url_for('static', filename='js/shop.js') }}"></script>

{% endblock %}
